<header>
    <div id="main_nav">
    
        <div class="header_name">
            <a href="/"><img src="51e1636f-f515-4abf-8095-b051dafde175.png"  alt="Chatea logo" class="center"></a>
        </div>    
            <%= erb :"partials/nav"%>
    </div>
</header> 