<nav>
 
    <div class="nav_section"> 
        <% if @user %>
        <div class='log_singup'>
            
            <a href="/displayPost">
            Profile
            </a>
           
            <a href="/user/post">
            Post
            </a>
            
            <a href="/logout">
            Logout
            </a>
        </div>

        <% else %>
        <div class='log_singup'>
            <a href="/login" >
            Login
            </a>

            <a href="/signup">
            Sign Up
            </a>
        </div>    
        <% end %>
    </div>   
</nav>