<nav>
<a href="/" class="ui primary button">
Home
</a>

<a href="/displayPost" class="ui primary button">
Profile
</a>


<a href="/logout" class="ui primary button">
Logout
</a>

<a href="/user/post" class="ui primary button">
Post
</a>

</nav>