
<% if @blog_post %>
<% for blog in @blog_post do %>

        <div id="blog_div" >
            <br>
                <img id="photo"src="<%= blog.image %>">
            <br>
                <p id="posting"><%= blog.name %></p>
                <p><a href="/user/post/delete/<%@post%>" class="ui primary button" method= delete> DELETE </a> </p>
            <br>
        </div>

<% end %>
<% end %>
