<div class="make_post_button">
    <a href="/user/post"><img src="round-add-button.png"></a>
</div>

<% if @blog_post %>
<% for blog in @blog_post do %>
    <div class="content_box">
      <div class="ui raised segment ">
      <p><%= blog.post %></p>
    </div>
<% end %>
<% end %> 
