<div class="make_post_button">
    <a href="/user/post"><img src="round-add-button.png"></a>
</div>



<% for blog in @blog_post do %>

        <div id="blog_div" >
            <br>
                <img id="photo"src="<%= blog.image %>">
            <br>
                <p id="posting"><%= blog.name %></p>

                <% if  session[:user_id] = blog.user_id %>
                 <p><a href="/user/post/delete/<%@post%>" class="ui primary button" method= delete> DELETE </a> </p>
                <% end %>
            <br>

        </div>

<% end %>


