<div id="singup">

    <form class="ui form" method="POST" action="/users/signup">
        <h2>SIGN UP</h2>
        <div class="two fields">
            <div class="field">
                <label>First Name</label>
                <input required type="text" name="first_name" placeholder="First Name">
            </div>

            <div class="field">
                <label>Last Name</label>
                <input required type="text" name="last_name" placeholder="Last Name">
            </div>
        </div>


        <div class="field">
            <label>Email</label>
            <input required type="email" name="email" placeholder="Email">
        </div>

        <div class="three fields">
            <div class="field">
                <label>Birthday</label>
                <input required type="date" name="birthday" placeholder="Birthday">
            </div>

            <div class="field">
                <label>Password</label>
                <input required type="text" name="password" placeholder="Password">
            </div>

            <button id="singup_button" class="ui button" type="submit">Save</button>

        </div>
    </form>

</div>